<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppClip</key>
	<dict>
		<key>NSAppClipRequestEphemeralUserNotification</key>
		<false/>
		<key>NSAppClipRequestLocationConfirmation</key>
		<false/>
	</dict>
	<key>NSUserNotificationAlertUsageDescription</key>
	<string>This App Clip would like to send you a reminder notification.</string>
	<key>RequestsEphemeralUserNotification</key>
	<string></string>
	<key>RequestsLocationConfirmation</key>
	<true/>
</dict>
</plist>
